<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BP_and_ERP_Project.Properties.Settings.BP_PayrollConnectionString"
            connectionString="Data Source=LAPTOP-4BLCHTST\SQLEXPRESS;Initial Catalog=BP_Payroll;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>